@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-pagination-bullet{
    width: 30px !important;
    height: 10px !important;
    display: inline-block;
    border-radius: 1px !important;
    background: #ef4a23 !important;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
.base-color{
    background-color: #ef4a23;
    color: white;
}