@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-pagination-bullet{
    width: 30px !important;
    height: 10px !important;
    display: inline-block;
    border-radius: 1px !important;
    background: #ef4a23 !important;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
.base-color{
    background-color: #ef4a23;
    color: white;
}
.store-finder {
    background: linear-gradient(125deg, #0bc1e9, #3749bb, #00237e);
    animation: gradient 15s ease infinite;
    color: #fff;
}
.base-btn{
    background: #ef9919;
    padding: 17px 50px;
    border-radius: 50px;
    font-size: 15px;
    line-height: 20px;
    height: auto;
    border: none;
    width: fit-content;
    margin-left: auto;
}
body{
    z-index: 0;
}